@charset "UTF-8";
.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  background: black;
  width: 50px;
  height: 50px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 30px;
  top: 30px;
  background-image: url(../src/menu.png);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.toggle.active {
  background-image: url(../src/close.png);
  background-size: cover;
  z-index: 2;
  width: 50px;
  height: 50px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background: #f5f5f5;
}
.main__imgbx {
  width: 40%;
  height: 100%;
}
.main__imgbx img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  height: 100vh;
  padding: 5rem 8rem;
}
.main__text h3 {
  display: inline-block;
  font-size: 2rem;
  background: #2b2d42;
  color: #fff;
  padding: 4px;
  margin: 6px 0;
}
.main__me {
  line-height: 1.1;
}
.main__me h2 {
  font-size: 2.5rem;
}
.main__me h2 span {
  font-weight: 700;
  font-size: 5rem;
  color: #d90429;
  margin: 0;
}
.main__me h1 {
  font-size: 3.5rem;
  color: #d90429;
  margin: 0;
}
.main__me p {
  font-size: 1.6rem;
  margin: 12px 0;
}
.main__me button {
  display: inline-block;
  border-radius: 4px;
  background-color: #3d405b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 135px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.main__me button a {
  font-size: 1.6rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.main__me button a::after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.main__me button:hover a {
  padding-right: 15px;
}
.main__me button:hover a::after {
  opacity: 1;
  right: 0;
}
.main__social {
  font-size: 2.5rem;
}
.main__social a {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.main__social a:hover {
  color: #ef233c;
}
@media screen and (max-width: 480px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .main__imgbx {
    width: 100%;
  }
  .main__text {
    position: absolute;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    width: 100%;
  }
  .main__text h3 {
    visibility: hidden;
  }
  .main__me {
    width: 100%;
    padding: 0;
  }
  .main__me h2 {
    font-size: 1.3rem;
    color: #fff;
  }
  .main__me h2 span {
    font-size: 2.3rem;
  }
  .main__me h1 {
    font-size: 2.8rem;
  }
  .main__me p {
    font-size: 1.5rem;
    color: #fff;
  }
  .main__me button {
    margin: auto;
  }
  .main__social {
    color: #fff;
  }
}

.overlay {
  height: 0%;
  width: 60%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.overlay__content {
  top: 30%;
  line-height: normal;
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay__content a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.overlay__content a:hover, .overlay__content a:focus {
  color: #d90429;
}
.overlay__closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.overlay.active {
  height: 100%;
}
@media screen and (max-width: 480px) {
  .overlay {
    width: 100%;
  }
  .overlay__content {
    top: 20%;
    width: 100%;
    text-align: center;
  }
}

.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100vh;
  padding: 0 120px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: url(../src/black-bg.svg);
  background-size: cover;
}
.about__title {
  width: 100%;
  line-height: normal;
  font-size: 5rem;
  color: #fff;
  text-align: center;
}
.about__title h2 {
  margin: 26px 0;
  border-bottom: 2px solid #fff;
  display: inline-block;
}
.about__article {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}
.about__article p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 500px;
  font-size: 1.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__imgbx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
.about__imgbx img {
  margin: 0 auto;
  width: 70%;
}
@media screen and (max-width: 480px) {
  .about {
    padding: 0;
  }
  .about__title {
    font-size: 1.5rem;
  }
  .about__article {
    width: 100%;
    padding: 0 15px;
  }
  .about__article p {
    text-align: center;
    width: 100%;
    font-size: 1rem;
  }
  .about__imgbx {
    display: none;
  }
}

.skills {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.skills__title {
  width: 100%;
  line-height: normal;
  font-size: 5rem;
  color: #2b2d42;
  text-align: center;
}
.skills__title h2 {
  margin: 26px 0;
  border-bottom: 2px solid #2b2d42;
  display: inline-block;
}
.skills__sub {
  margin: auto;
  width: 60%;
  font-size: 1.6rem;
  text-align: center;
}
.skills__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
  margin: auto;
}
.skills__card {
  width: 190px;
  height: 200px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  margin: 12px;
  cursor: pointer;
  background: #2b2d42;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 8px;
  overflow: hidden;
}
.skills__card:hover {
  -webkit-transform: scale(1.04) rotate(1deg);
          transform: scale(1.04) rotate(1deg);
}
.skills__inner {
  position: absolute;
  left: 17px;
  top: 20%;
  width: 80%;
  height: 60%;
}
.skills__inner img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}
.skills__circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#ef233c, #d90429);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}
.skills__circle:nth-child(1) {
  top: -25px;
  left: -25px;
}
.skills__circle:nth-child(2) {
  top: 150px;
  right: -25px;
  -webkit-animation-name: move-down1;
          animation-name: move-down1;
}
@media screen and (max-width: 480px) {
  .skills__title {
    font-size: 1.5rem;
  }
  .skills__sub {
    display: none;
  }
  .skills__cards {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skills__card {
    width: 35%;
    height: 140px;
  }
}

.folios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100vh;
  background-image: url(../src/black-bgr.svg);
  background-size: cover;
  position: relative;
}
.folios__title {
  width: 100%;
  line-height: normal;
  font-size: 5rem;
  color: #fff;
  text-align: center;
}
.folios__title h2 {
  margin: 26px 0;
  border-bottom: 2px solid #fff;
  display: inline-block;
}
.folios__sub {
  margin: auto;
  width: 60%;
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
}
.folios__card {
  width: 190px;
  height: 200px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  overflow: hidden;
  margin: 12px;
}
.folios__card img {
  -o-object-fit: cover;
     object-fit: cover;
}
.folios__card:hover .folios__social {
  opacity: 1;
}
.folios__cards {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.folios__social {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 5rem;
  color: #ef233c;
  background: rgba(200, 177, 255, 0.526);
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.folios__social a {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.398);
}
.folios__social a:hover {
  color: #2b2d42;
}
@media screen and (max-width: 480px) {
  .folios {
    height: auto;
  }
  .folios__title {
    font-size: 1.5rem;
  }
  .folios__sub {
    display: none;
  }
  .folios__cards {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .folios__card {
    width: 40%;
    margin: 10px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #d90429;
  font-size: 1.4rem;
  width: 100%;
  height: 40vh;
  padding-top: 80px;
  background-image: url(../src/bg-footer.svg);
  background-size: cover;
  transition: ease-in-out 0.6s;
  -webkit-transition: ease-in-out 0.6s;
  -moz-transition: ease-in-out 0.6s;
  -ms-transition: ease-in-out 0.6s;
  -o-transition: ease-in-out 0.6s;
}
.footer:hover {
  background-image: url(../src/bg-footer-99.svg);
}
.footer span {
  display: block;
  font-size: 1.6rem;
  margin-top: 12px;
  color: #50535A;
  font-weight: 700;
}
.footer__follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer__follow span {
  width: 100%;
}
.footer__me {
  text-align: end;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.footer__menu span {
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
}
.footer__menu a {
  font-size: 1rem;
  margin: 0 5px;
}
@media screen and (max-width: 480px) {
  .footer {
    padding-top: 10px;
    font-size: 1.2rem;
  }
  .footer__me {
    font-size: 1rem;
    line-height: 1;
    text-align: center;
  }
}

@-webkit-keyframes move-up6 {
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes move-up6 {
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@-webkit-keyframes move-down1 {
  to {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes move-down1 {
  to {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}